

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #344e41;
}

.filter-container {
    box-shadow: 5px 5px 8px rgba(0,0,0,0.6);
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
}
.header {
    background-color: #023047;
    color: #fff;
    padding: 35px 20px;
}
.filter-sub-heading {
    display: block;
    margin: 5px 0 20px 0;
}

.input-filter {
    background-color: rgba(0,0,0,0.3);
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 10px 15px;
    outline: none;
}
.user-list {
    background-color: #fff;
    list-style-type: none;
    max-height: 400px;
    overflow-y: auto;
}
.user-list li {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid rgb(212, 206, 206);
}

.user-list img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.user-info {
    margin-left: 10px;
}
.user-info h3 {
    margin-bottom: 10px;
}
.user-info p {
    font-size: 12px;
}

.user-list li.hide {
    display: none;
}
